# Compiled binaries
terraform-provider-unifi
unifi-report

# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go workspace
vendor/

# Terraform provider dev overrides / local install artifacts
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
.vscode/
*.swp
*.swo
